<div class="right-side">
  {{#if this.shouldShow}}
    <ul
      class="custom-header-links nav {{if @outletArgs.topicInfoVisible 'custom-header-links--hide-links'}} {{if this.shouldShow 'nav-pills'}}"
    >
      {{#each this.links as |link|}}
        <li
          class={{concat-class
            "headerLink"
            link.device
            link.locale
            link.linkClass
            link.hideOnScroll
          }}
        >
          <a
            title={{link.anchorAttributes.title}}
            href={{link.anchorAttributes.href}}
            target={{link.anchorAttributes.target}}
          >
            {{link.linkText}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  <div class="search-bar">
    <input 
      type="text" 
      placeholder="Search" 
    />
    <button type="button" {{action "searchHobbyDB"}}>Search</button>
  </div>
</div>