<div class="header-container">
  <div class="header-content">
    <div class="mobile-logo">
      <img src="{{theme-setting 'logo-url'}}" alt="Site Logo" />
    </div>
    {{#if this.shouldShow}}
      <ul class="custom-header-links nav nav-pills">
        {{#each this.links as |link|}}
          <li
            class={{concat-class
              "headerLink"
              link.device
              link.locale
              link.linkClass
              link.hideOnScroll
              (if link.isActive "active")
            }}
          >
            <a
              title={{link.anchorAttributes.title}}
              href="javascript:void(0);" 
              {{on "click" (fn this.toggleTab link.linkText)}}
            >
              {{link.linkText}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
    
    <div class="search-actions">
      <div class="search-bar">
        <input 
          type="text" 
          placeholder="Search" 
          {{on "keypress" this.handleKeyPress}}
        />
        <button type="button" class="search-button" {{on "click" this.handleSearch}}>
          Search
        </button>
      </div>
    </div>
  </div>
</div>